
<li>
  Date: <%= sighting.date.strftime("%m/%d/%y") %> <br> Region: <%= sighting.region %> <br> Time: <%= sighting.time.strftime("%I:%M %p") %> <br> Latitude: <%= sighting.latitude %> <br> Longitude: <%= sighting.longitude %>
</li><br>
